<!-- Show card -->

<div class ="container">
  <div class="card mb-3">
    <h3 class="card-header text-center"><%= item.title %></h3>
    <%= image_tag  item.image_url, class: "d-block user-select-none img-fluid", width: "100%", height: "200" %>
    <div class="card-body">
      <p class="card-text"><%= item.description %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= item.price %></li>
    </ul>
    <div class="card-body text-center">
      <%= link_to "Ajouter au panier", line_items_path(item_id: item.id), class: "btn btn-success", method: "post" %>
      <%= link_to "Retour à la page d'accueil", root_path, class: "btn btn-outline-info" %></li>
    </div>
  </div>
</div>
