<div class="row border-bottom border-gray py-2 mb-2 mr-2">
  <div class="col-1">
    <%= index %>
  </div>
  <div class="col-3">
    <%= order.created_at.strftime('%Y/%m/%d') %>
  </div>
  <div class="col-2 small text-center">
    <%= order.number_of_items %>
  </div>
  <div class="col-3 small text-center">
    <%= order.total_price %> €
  </div>
  <div class="col-3 small text-center">
    <%= link_to  "Voir la commande", order, class:"btn btn-info" %>
  </div>
</div>
