<div class="container pt-3">

  <div class="rounded box-shadow text-center">
    <h5 class="border-bottom border-gray pb-2 m-3" id="your-cart">Ma commande du <%= @order.created_at.strftime('%Y/%m/%d') %> de <%= @order.total_price %> €</h5>
      
      <div class="row border-bottom border-gray mr-1">
        <div class="col-1 align-middle">
          <p>Photo</p>
        </div>
        <div class="col-2 align-middle">
          <p class="ml-3">
            Titre
          </p>
        </div>    
        <div class="col-9">
          <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-3">
              Prix à l'unité
            </div>
            <div class="col-1">
              Qté
            </div>
            <div class="col-3">
              Prix total
            </div>
          </div>
        </div>
      </div>

    <%= render partial: 'order_line_item', collection: @order.order_line_items %>
  </div>
    <div class="text-center">
    <br>
    <%= link_to  "Page d'accueil", root_path, class: "btn btn-info mx-2" %>
    <%= link_to  "Retour au profil utilisateur", @order.user, class: "btn btn-outline-primary mx-2" %>
  </div>
</div>
