<!-- Index card -->

<!-- let's put them in a row and col lg-4 each so that there's 3 cards per row -->

<div class ="container">
  <div class="row">
    <% items.each do |item| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3"">
          <h3 class="card-header"><%= item.title %></h3>
          <%= image_tag  item.image_url, class: "d-block user-select-none img-fluid", width: "100%", height: "200" %>
          <div class="card-body">
            <p class="card-text"><%= truncate(item.description, length: 100) %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center display-4"><%= item.price %> €</li>
          </ul>
          <div class="card-body">
            <div class="row justify-content-around">
              <%= link_to "Ajouter au panier", line_items_path(item_id: item.id), class: "btn btn-success", method: "post", remote: true %>
              <%= link_to "Voir les détails", item_path(item.id), class: "btn btn-outline-info" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

