<!-- Index card -->

<!-- let's put them in a row and col lg-4 each so that there's 3 cards per row -->

<div class ="container">
  <div class="row">
    <% items.each do |item| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card mb-3">
          <h3 class="card-header"><%= item.title %></h3>
            <% if item.picture.attached? %>
              <%= image_tag item.picture, class: "d-block user-select-none img-fluid", width: "100%", height: "200" %>
            <% else %>
              <p class="mx-auto mt-2 font-italic">Aucune image pour le moment !</p>
            <% end %>
          <div class="card-body">
            <p class="card-text"><%= truncate(item.description, length: 100) %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center display-4"><%= item.price %> €</li>
          </ul>
          <div class="card-body">
            <div class="row justify-content-around">
            <% if user_signed_in?%>
              <%= link_to "Ajouter au panier", line_items_path(item_id: item.id), class: "btn btn-success", method: "post", remote: true %>
            <% else %>
              <%= link_to "Ajouter au panier", new_user_session_path, class: "btn btn-success" %>
            <% end %>
              <%= link_to "Voir les détails", item_path(item), class: "btn btn-outline-info" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

