<!-- Show card -->

<div class ="container my-3">
  <div class="card mb-3 w-50 d-flex mx-auto" id="cat-item">
    <h3 class="card-header text-center"><%= item.title %></h3>
    <%= image_tag  item.picture, class: "img-fluid d-block user-select-none", width: "100%", height: "200" %>
    <div class="card-body">
      <p class="card-text"><%= item.description %> </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center display-4"><%= item.price %> €</li>
    </ul>
    <div class="card-body">
      <div class="row justify-content-around">
        <% if user_signed_in?%>
          <%= link_to "Ajouter au panier", line_items_path(item_id: item.id), class: "btn btn-success", method: "post", remote: true %>
        <% else %>
          <%= link_to "Ajouter au panier", new_user_session_path, class: "btn btn-success" %>
        <% end %>
        <%= link_to "Retour à la page d'accueil", root_path, class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>
